@import "@/styles";
.sectionTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.75rem; /* 12px */
  width: 100%;
  .sectionTitleHeader {
    color: $white;
    font-weight: 700;
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
  }
}

