@import "@/styles";

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $black;

  width: 100%;
  gap: 1rem;
  height: 100vh;
  .imageContainer {
    width: 50%;
    text-align: center;
    @include media-breakpoint-up(sm) {
      width: 40%;
    }
    @include media-breakpoint-up(md) {
      width: 25%;
    }
    @include media-breakpoint-up(lg) {
      width: 20%;
    }
    .image {
      object-fit: contain;
      width: 100% !important;
      position: relative !important;
      height: unset !important;
    }
  }
  .heroText {
    color: $white;
    font-size: 1.5rem;
    font-weight: 700;
    width: 75%;
    .heroColoredText {
      color: $turquoise;
    }
  }
  .heroDescription {
    color: $white;
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    width: 75%;
  }
  & img {
    margin-top: 95px;
  }
}
.jumplinks {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; /* 8px */
  width: 75%;
  @include media-breakpoint-up(sm) {
    flex-direction: row;
  }
}
