.characterDetail {
  /* flex bg-zinc-700 min-h-screen flex-col items-center */
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $zinc-700;

  &__image {
    margin: 1.25rem 0;
    border-radius: 0.75rem; /* 12px */
  }
  &__informationWrapper {
    margin-top: 80px;
    width: 75%;
    @include media-breakpoint-up(sm) {
      display: flex;
      justify-content: center;
      gap: 2rem;
    }
  }
  &__informationContainer {
    margin: 1.25rem 0;
  }
}
