.locationDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $zinc-700;

  &__informationWrapper {
    display: flex;
    width: 75%;
    justify-content: center;
    gap: 7rem;
    @include media-breakpoint-up(sm) {
      justify-content: center;
      gap: 7rem; /* 112px */
    }
  }
}
