@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -ms-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin media-breakpoint-up($breakpoint) {
  @if $breakpoint == sm {
    @media (min-width: $breakpoint-sm) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (min-width: $breakpoint-md) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (min-width: $breakpoint-lg) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (min-width: $breakpoint-xl) {
      @content;
    }
  }
}

/* 
  example usage of media-breakpoint-up 
  @include media-breakpoint-up(sm) {
      background-color: green;
    width: 120px;
    height: 60px;
    color: black;
  }
 */

/* 
 example usage of flex-center 
 .header {
  @include flex-center();
  height: 100px;
  background-color: #333;
}
 example usage of border-radius($radius)

 .card {
  @include border-radius(10px);
  width: 300px;
  height: 200px;
  margin: 20px;
}
 */
