$white: white;
$black: black;
$turquoise: #11b0c8;
$zinc-300: #d4d4d8;
$zinc-600: #52525b;
$zinc-800: #27272a;
$zinc-700: #3f3f46;
$font-family: "Roboto", sans-serif;

$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
