@import "index";
@import "@/styles";
* {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  background: $zinc-700;
  img {
    max-width: 100%;
    height: auto;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  
}
