@import "@/styles";
.locations {
  margin: 1rem auto;
  max-width: auto;
  @include media-breakpoint-up(sm) {
    width: 75%;
  }
  .locationsCardWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.75rem; /* 12px */
    @include media-breakpoint-up(sm) {
      flex-direction: row;
      flex-wrap: wrap;
    }
    @include media-breakpoint-up(xl) {
      justify-content: flex-start;
    }
  }
}
